.navigation {
    width: 20%;
  }
 
  /* reset our lists to remove bullet points and padding */
  .sidenav, .side {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* make ALL links (main and submenu) have padding and background color */
  .sidenav a {
    display: block;
    background-color: #CCC;
    text-decoration: none;
    padding: 10px;
    color: #000;
    pointer-events: none;
    cursor: default;
    
  }
  
  /* add hover behaviour */
  .sidenav a:hover {
      background-color: #a6c55e;
  }
  
  
  /* when hovering over a .mainmenu item,
    display the submenu inside it.
    we're changing the submenu's max-height from 0 to 200px;
  */
  
  .sidenav li:hover .side {
    display: block;
    max-height: 200px;
  }
  
  /*
    we now overwrite the background-color for .submenu links only.
    CSS reads down the page, so code at the bottom will overwrite the code at the top.
  */
  
  .sidenav a {
    border-top: 1px solid white;
    background-color: rgb(196, 206, 52);
  }
  
  /* hover behaviour for links inside .submenu */
  .side a {
    background-color: white;
    pointer-events: auto; 
   
  }
div.accueil{
      width: 80%;
      background-image: url('../images/image2.png')  ;
      background-size: contain;
     background-repeat: no-repeat;
  }
div.contain{

}
#header{
      display: flex;
      flex-direction: column;
      height: 250px;
      
  }
  main{
      height: 1000px;
      display: flex;
  }
  .texte{
      text-align: justify;
      font-size: 25px;
  }
  h2{
      text-align: center;
      font-weight: bold;
  }
  .sticky {
    position: fixed;
    top: 0;
  
  }
  .center{
      text-align: center;
      font-size: 35px;
      font-family: 'Verdana';
  }
  .flex{
      display: flex;
      height: 150px;
      
  }
  .logo{
      width: 20%;
      padding: 0;
  }
  .titre{
      width: 60%;
      text-align: center;
      
      font-size: 60px;
      padding-top: 25px;
      font-family: 'Verdana'
  }

  .lien{
      width: 20%;
  }
  .lien2{
    width: 20%;
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
  .fab{
     padding-top: 45px; 
     color: blue;
      font-size: 65px;
  }
  .haut{
    background-color: rgb(229, 230, 219);
    padding-bottom: 2%;
  }

  .adresse{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40%;
     
  }

  .map{
      width: 40%;
      justify-content: center;
  }
  .mini_bande{
      height: 25px;
      background-color: rgb(229, 230, 219);
  }
  .flex2{
      display: flex;
      height: 300px;
  }
  .footer{
      background-color: rgb(212, 211, 211);
      
  }