<nav class="navigation">
    <ul class="sidenav">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Qui sommes nous ?</a>
            <ul class="side">
                <li><a href="#">Historique</a></li>
                <li><a href="#">Charte de l'association</a></li>
                <li><a href="#">Nos actions</a></li>
                <li><a href="#">Membres</a></li>
            </ul>
        </li>
        <li><a href="#">Actualités</a>
            <ul class="side">
                <li><a href="#">Temps forts de l'association</a></li>
                <li><a href="#">Qui sommes nous ?</a></li>
                <li><a href="#">Actualités</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </li>
        <li><a href="#">Contact</a>
            <ul class="side">
                <li><a href="#">Envoyer un Message</a></li>
                <li><a href="#">Mail</a></li>
                <li><a href="#">Faire un don</a></li>
            </ul>
        </li>
        <li><a href="#">Documents utiles</a></li>   
    </ul>
    </nav>